DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?sslmode=require"
NEXTAUTH_SECRET="replace-with-32-char-secret-generated-below"
NEXTAUTH_URL="http://localhost:3000"
QR_SIGNING_SECRET="replace-with-separate-32-char-secret"
NEXT_PUBLIC_APP_NAME="ICBM-AttendX"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
